.home {
  max-width: 1280px;
}

.home__content {
  max-width: 653px;
  position: relative;
}





.home__title {
  font-size: 36px;
  font-weight: 700;
  margin-top: 67px;
  height: 88px;
  margin-bottom: 33px;
}

.home__desc {
  max-width: 619px;
  font-size: 16px;
  margin-bottom: 116px;
}

.home__text {
  width: 469px;
  height: 76px;
  font-weight: 600;
}

.home__img {
  max-width: 855px;
  max-height: 569px;
  position: absolute;
  right: 0;
  z-index: -1;
}



.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99998;
  background-color:rgba(0, 0, 0, 0.2);
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s, visibility .4s;
}

.popup.open {
  visibility: visible;
  opacity: 1;
}





.popup__content {
  position: relative;
  max-width: 766px;
  max-height: 498px;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  padding-left: 196px;
  padding-right: 196px;
  max-height: 530px;
  transform: scale(0);
  transition: transform .8s;
}

.popup.open .popup__content {
  transform: scale(1);
}

.popup__close {
  position: absolute;
  right: 12px;
  top: 12px;
  height: 12px;
  width: 12px;

}

.popup__title {
  margin-top: 27px;
  font-size: 20px;
  font-weight: 700;
  color:rgb(42, 35, 103);
  display: grid;
  
  justify-content: center;
  /* margin-bottom: 29px; */
 
}

.input-name {
  margin-bottom: 13px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(126, 126, 126);
}

.input-field {
  margin-bottom: 9px;
  font-size: 12px;
  font-weight: 700;
  color:rgb(152, 149, 180);
}

.popup__text {
  font-size: 10px;
  font-weight: 500;
  color:rgb(152, 149, 180);
  margin-bottom: 26px;

}

.popup__footer {
  display: grid;
  
  justify-content: center;
}

.footer__fon {
  min-width: 215px;
  max-height: 100px;
  background: linear-gradient(to right, rgb(107, 90, 249), rgb(174, 164, 254));
  display: grid;
  border-radius: 10px;
  justify-content: center;
  position: relative;
  z-index: -1;
  margin-bottom: 27px;
}

.popup__img {
  min-width: 121px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.footer__fon-small {
 position: absolute;
 left: 200px;
 z-index: 1;

}

.popup__vector {
  position: absolute;
  left: 203px;
  z-index: 1;
}













@media (width < 1280px) {
  .home__container {
    margin-left: 10px;
    margin-right: 0px;
    position: relative;
    /* z-index: -1; */
    
  }

  .home__container.side_open {
    z-index: -1;
  
  }

 

  .home__title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 31px;
    height: 29px;
    margin-bottom: 21px;
  }

  .home__desc {
    max-width: 356px;
    height: 45px;
    font-size: 12px;
    margin-bottom: 54px;
  }

  .home__text {
    max-width: 273px;
    height: 96px;
    font-size: 12px;
  }

  .home__img {
    max-width: 569px;
    height: 378px;
    position: absolute;
    right: 0;
    z-index: -1;
    top: 0;
  }

  body {
    height: 100vh;
    overflow: hidden;
  }

  

  .popup__content {
    
    max-width: 530px;
    padding-left: 80px;
    padding-right: 80px;
  
  }

 
}

@media (width < 768px) {
 

  .home__container {
    display: flex;
    justify-content: center;

  }

  .home__btn {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

  }


  .home__title {
    font-size: 18px;

    margin-top: 21px;

    margin-bottom: 370px;
  
  }

  .home__desc {
    height: 45px;
    font-size: 12px;
    margin-bottom: 50px;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 345px; */
    /* text-align: start; */
  }

  .home__text {
    height: 96px;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .home__img {
    height: 299px;
    margin-bottom: 29px;
    margin-top: 20px;
  }

  .popup__content {
    
    max-width: 340px;
    padding-left: 10px;
    padding-right: 10px;
  
  }


  
}

@media (width < 568px) {
  .home__title {
    margin-bottom: 300px;
  }
 
}

@media (width = 360px) {
  .home__title {
    margin-bottom: 220px;
  }
 
} 