





.home {

  max-width: 1280px;
  margin-bottom: 160px;
}

.home__content {
  max-width: 653px;
  position: relative;
}





.home__title {
  font-size: 36px;
  font-weight: 700;
  margin-top: 67px;
  height: 88px;
  margin-bottom: 33px;
}

.home__desc {
  max-width: 619px;
  font-size: 16px;
  margin-bottom: 116px;
}

.home__text {
  width: 469px;
  height: 76px;
  font-weight: 600;
}

.home__img {
  max-width: 855px;
  max-height: 569px;
  position: absolute;
  right: 0;
  z-index: -1;
}



.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99998;
  background-color:rgba(0, 0, 0, 0.2);
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s, visibility .4s;
}

.popup.open {
  visibility: visible;
  opacity: 1;
}





.popup__content {
  position: relative;
  max-width: 766px;
  max-height: 498px;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  padding-left: 196px;
  padding-right: 196px;
  max-height: 530px;
  transform: scale(0);
  transition: transform .8s;
}

.popup.open .popup__content {
  transform: scale(1);
}

.popup__close {
  position: absolute;
  right: 12px;
  top: 12px;
  height: 12px;
  width: 12px;

}

.popup__title {
  margin-top: 27px;
  font-size: 20px;
  font-weight: 700;
  color:rgb(42, 35, 103);
  display: grid;
  
  justify-content: center;
  /* margin-bottom: 29px; */
 
}

.input-name {
  margin-bottom: 13px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(126, 126, 126);
}

.input-field {
  margin-bottom: 9px;
  font-size: 12px;
  font-weight: 700;
  color:rgb(152, 149, 180);
}

.popup__text {
  font-size: 10px;
  font-weight: 500;
  color:rgb(152, 149, 180);
  margin-bottom: 26px;

}

.popup__footer {
  display: grid;
  
  justify-content: center;
}

.footer__fon {
  min-width: 215px;
  max-height: 100px;
  background: linear-gradient(to right, rgb(107, 90, 249), rgb(174, 164, 254));
  display: grid;
  border-radius: 10px;
  justify-content: center;
  position: relative;
  z-index: -1;
  margin-bottom: 27px;
}

.popup__img {
  min-width: 121px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.footer__fon-small {
 position: absolute;
 left: 200px;
 z-index: 1;

}

.popup__vector {
  position: absolute;
  left: 203px;
  z-index: 1;
}






.inform__container {
  max-width: 1470px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
 
}

.inform__title {
  font-weight: 800;
  font-size: 36px;
  height: 1px;
  color: rgb(42, 35, 103);
  margin-top: 81px;
  margin-bottom: 80px;
  
}

span {
  color: rgb(107, 90, 249);
}




.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 54px 20px;
  margin-bottom: 22px;
 
 
}

.card {
  width: 373px;
  height: 200px;
  padding-left: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  opacity: 1;
  transition: opacity 3s;

  
}

.card__number {
  margin-top: 2px;
 
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  height: 17px;
  color: rgb(42, 35, 103);
  margin-bottom: 9px;
 
}

.card__line {
  margin-bottom: 9px;
  height: 0px;
}

.card__text {
  width: 320px;
  font-weight: 400;
  font-size: 12px;
  height: 15px;
  color:rgb(42, 35, 103) ;

}



.card__slaider:nth-child(n+4) {
  overflow: hidden;
  opacity: 0;
  transition: opacity 2s;
  height: 0;
}



/* .disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
} */

/* .card__slider_test {
  display: none;
} */

.inform__footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 20px;
}



.inform__button {
  width: 275px;
  height: 60px;
  border-radius: 5px;
  background-color: rgb(107, 90, 249);
  color: #ffffff;
  font-size: 12px;
  font-weight: 800;
  padding-top: 23px;
  padding-bottom: 22px;
  text-align: center;
 
  transition: opacity 0.2s ease;
  
}



.inform__button-arrow {
 
  margin: 0 auto;
  transition: transform 0.3s ease 0s;
 


}

.inform__button-arrow_close {
 
  transform: rotate(-180deg);
}

.inform__button-none_open {
  opacity: 1;
  visibility: visible;
 
}

.swiper-slide {
  display: none;
}


.receive__footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;

}





.receive__title {
  font-weight: 800;
  font-size: 36px;
  margin-top: 165px;
  margin-left: 140px;
  color: rgb(42, 35, 103);
  margin-bottom: 60px;

}


.informations {
 
    display: grid;
    grid-template-columns: 1fr;
    gap: 70px;
    margin-bottom: 22px;

}

.information {
  display: flex;
  gap: 63px;
  margin-left: 140px;
  align-items: center;

}


.discription__title {
  font-weight: 700;
  font-size: 18px;
  /* margin-top: 165px;
  margin-left: 140px; */
  color: rgb(107, 90, 249);
  margin-bottom: 17px;

}


.discription__text {
  list-style: disc;
  /* height: 17px; */
  font-weight: 400;
  font-size: 14px;
  color:rgb(42, 35, 103) ;
  line-height: 22px;
}


.picture__information {
  width: 520px;
  height: 350px;
}


.documents {
  display: flex;
  background-color: rgb(240, 213, 119);
  /* width: auto; */
  /* height: 490px; */
  margin-left: 140px;
  margin-right: 140px;
  position: relative;
} 

.documents__line {
  position: absolute;
  margin: 26px 20px 26px 20px;
  /* width: 950px; */
} 

.certificates {
  display: flex;
  gap: 95px;
  /* position: absolute; */
}


.cup {
  margin-top: 39px;
  margin-bottom: 13px;
  margin-left: 34px;
   /* position: absolute; */
  z-index: 1; 
}

.certificate {
  width: 230px;
}

.certificate-header {
  text-align: center;
}

.certificate-title {
  font-weight: 700;
  font-size: 12px;
  color:rgb(159, 159, 159);
  margin-top: 53px;
  margin-bottom: 6px;

}

.certificate-subtitle {
  font-weight: 700;
  font-size: 12px;
  color:rgb(42, 35, 103);
  
  margin-bottom: 14px;

}


.research__content {
  display: flex;
  margin-left: 140px;
}



.research__title {
  font-weight: 800;
  font-size: 36px;
  color:rgb(42, 35, 103)
  rgb(107, 90, 249);
  margin-top: 150px;
  margin-bottom: 66px;
  width: 385px;

}

.research__text {
  font-weight: 400;
  font-size: 18px;
  color:rgb(42, 35, 103);
  
  margin-bottom: 150px;
  width: 544px;



}



.research__pictures {
  width: 667px;
  height: 556px;
  margin-top: 175px;
}

.abilites {
  margin-left: 140px;
  margin-right: 140px;
  /* margin-bottom: 55px; */
}


.abilites__title {
  font-weight: 800;
  font-size: 36px;
  color:rgb(42, 35, 103);
  margin-top: 150px;
  margin-bottom: 63px;
  


}


/* .stages {
  margin-bottom: 55px;
} */

.stage {
  /* width: 373px;
  height: 200px; */
  /* padding-left: 15px; */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  margin-bottom: 55px;
  /* opacity: 1;
  transition: opacity 3s; */

}

.stage__title {
  display: flex;
}

.stage__serial-number {
  margin-left: 85px;
  margin-top: 23px;

}


.stage__subtitle {
  font-weight: 700;
  font-size: 24px;
  color:rgb(42, 35, 103);
  
  margin-top: 34px;
  margin-bottom: 41px;
 margin-left: 125px;

}

.stage__lines {
  margin-left: 75px;
  margin-right: 75px;
}

.stage__text {
  font-weight: 400;
  font-size: 18px;
  color:rgb(42, 35, 103);
  
  margin-top: 26px;
  padding-bottom: 125px;
  margin-left: 75px;
  margin-right: 140px;



}





.stage__picture {
  margin-left: 75px;
  margin-right: 45px;
  padding-bottom: 95px;
}


/* .stage__picture:nth-child(-1n+4) {
  padding-bottom: 10px;
} */


.photo {
  margin-top: 121px;
  margin-bottom: 150px;
}



/* .about {
  position: relative;
} */






.about__content {
  display: flex;
  background-color:rgb(244, 248, 255);
  justify-content: space-between;
  /* width: 1160px; */
  margin-left: 140px;
  margin-right: 140px;
  /* text-align: center; */
  gap: 44px;
  position: relative;
  
}

.about-company__title {
  font-weight: 800;
  font-size: 36px;
  color:rgb(42, 35, 103);
  
  margin-top: 41px;
  margin-bottom: 20px;
  margin-left: 98px;
  /* margin-right: 140px; */

}

/* .about-company {
  width: 448px;
} */

.about-company__text {
  font-weight: 400;
  font-size: 18px;
  color:rgb(42, 35, 103);
  /* width: 448p
x; */
  
  margin-bottom: 271px;
  margin-left: 98px;


}

.about-us {
background-color:rgb(107, 90, 249);
/* width: 472px; */
/* max-height: 486px; */
text-align: center;;
padding-left: 65px;
padding-right: 65px;
margin-right: 98px;
margin-top: 65px;
margin-bottom: 187px;
border-radius: 20px;

}


.contact {
  font-weight: 700;
  font-size: 24px;
  color:rgb(255, 255, 255);
 
  margin-top: 56px;
  margin-bottom: 28px;
  
  text-align: center;

}

.about-us__text {
  font-weight: 400;
  font-size: 12px;
  color:rgb(255, 255, 255);
 
 
  margin-bottom: 46px;

}


/* .text {
  color:rgba(255, 255, 255, 0.4);

} */

.input-text {
  font-weight: 400;
  font-size: 18px;
  color:rgba(255, 255, 255, 0.4);
  background-color:rgb(107, 90, 249);
 
 
  margin-bottom: 7px;


}


.about-us__btn {
  width: 275px;
  height: 60px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(107, 90, 249);
  font-size: 12px;
  font-weight: 800;
  padding-top: 23px;
  padding-bottom: 25px;
  text-align: center;
  margin-bottom: 13px;
  /* transition: opacity 0.2s ease; */
  margin-top: 31px;

}

.about-us__footer {
  display: flex;
  /* gap: 13px; */
  margin-bottom: 47px;
}

.about-us__footer-text {
  margin-left: 7px;
}

/* .pictures {
position: absolute;
z-index: 1;
} */

.figure {
position: absolute;  
margin-left: 351px;  
margin-top: -70px;
}

.cylinder {
position: absolute;  
margin-left: 930px;
margin-top: 300px;
}


.hand {
  position: absolute;
  margin-top: 500px;
}

.bagel {
  position: absolute;
  margin-top: 600px;
  margin-left: 480px;
}

.cube {
  position: absolute;
  margin-left: 900px;
  margin-top: 700px;
}


@media (width < 1280px) {

  /* body {
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
  } */

  .disable-scroll {
    position: relative;
    overflow: hidden;
    height: 100vh;
  }


  .home {
    margin-bottom: 56px;
  }


  .home__container {
    margin-left: 10px;
    margin-right: 0px;
    position: relative;
    /* z-index: -1; */
    
  }

  .home__container.side_open {
    z-index: -1;
  
  }

 

  .home__title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 31px;
    height: 29px;
    margin-bottom: 21px;
  }

  .home__desc {
    max-width: 356px;
    height: 45px;
    font-size: 12px;
    margin-bottom: 54px;
  }

  .home__text {
    max-width: 273px;
    height: 96px;
    font-size: 12px;
  }

  .home__img {
    max-width: 569px;
    height: 378px;
    position: absolute;
    right: 0;
    z-index: -1;
    top: 0;
  }

 

  

  .popup__content {
    
    max-width: 530px;
    padding-left: 80px;
    padding-right: 80px;
  
  }





  .cards {
    gap: 40px 20px;
    grid-template-columns: 1fr 1fr;
    /* align-content: center;
    align-items: center;
    */
  }

  .inform__title {
    font-size: 24px;
    margin-top: 41px;
    margin-bottom: 60px;
  }

  .card__slaider:nth-child(n+3) {
    overflow: hidden;
    opacity: 0;
    transition: opacity 2s;
    height: 0;
   
  }

  .wrapper {
    display: none;
  }




  .receive__title {
  
    font-size: 24px;
    margin-top: 77px;
    margin-left: 15px;
   
    margin-bottom: 37px;
  
  }


  .picture__information {
    width: 370px;
    height: 250px;
  }


  .information {
  
    margin-left: 15px;
   
  
  }



  .documents {
    display: block;
    /* background-color: rgb(240, 213, 119); */
    width: auto;
    /* height: 490px;  */
    margin-left: 10px;
    margin-right: 10px;
    /* position: relative;  */
  } 



.cup {
  display: flex;
  justify-content: center;
}

.certificate:nth-child(2) {
  /* overflow: hidden;
  opacity:0; */
  display: none;
}

.swiper-certificate:nth-child(2) {
 
  display: none;
}

.certificates  {
  display: flex;
  justify-content: center;
}

.certificate {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 102px;
  width: 430px;
}

/* .picture-certificate {
  display: flex;
  justify-content: center;

} */

  
.discription__text {
  padding-left: 15px;
}

.research__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}




.research__title {
  font-weight: 800;
  font-size: 24px;
 
  margin-top: 100px;
  margin-bottom: 30px;
  width: 360px;

}


.research__content {
  /* display: flex;
  justify-content: center; */
  margin-left: 14px;
  justify-content: space-around;
}

.research__text {
 
  font-size: 12px;
 
  
  margin-bottom: 19px;
  width: 360px;



}

/* .research__container {
  display: flex;
  justify-content: center;
} */



.research__pictures {
  /* width: 370px; */
  height: 308px;
  margin-top: 118px;
  /* width: 100%; */

}


.abilites {
  margin-left: 50px;
  margin-right: 50px;
  /* margin-bottom: 55px; */
}


.abilites__title {

  font-size: 24px;
  margin-left: 14px;
  margin-top: 100px;
  margin-bottom: 30px;
  


}


.stage {
 
  margin-bottom: 50px;
  

}


.stage__serial-number {
  margin-left: 49px;
 
}

.stage__subtitle {
 
 
 margin-left: 200px;

}


.stage__text {
 
  
  margin-top: 26px;
  padding-bottom: 125px;
  margin-left: 43px;
  margin-right: 42px;



}

.stage__picture {
  margin-left: 27px;
  margin-right: 27px;
  padding-bottom: 95px;
}




.about__content {
  display: block;
  /* background-color:rgb(244, 248, 255);
  justify-content: space-between; */
  /* width: 1160px; */
  margin-left: 10px;
  margin-right: 10px;
  /* text-align: center; */
 
  position: relative;
  
}

.about-company__title {
  /* font-weight: 800; */
  font-size: 24px;
  /* color:rgb(42, 35, 103); */
  
  margin-top: 68px;
  margin-bottom: 30px;
  text-align: center;
  /* margin-right: 140px; */
  margin-left: 170px;
  margin-right: 170px;

}


.about-company__text {
  /* font-weight: 400; */
  font-size: 14px;
  /* color:rgb(42, 35, 103); */
  /* width: 448p
x; */
  
  margin-bottom: 60px;
  margin-left: 64px;
  margin-right: 64px;


}


.about-us {
  /* background-color:rgb(107, 90, 249);
  width: 472px; */
  /* max-height: 486px; */
  /* text-align: center; */
  padding-left: 65px;
  padding-right: 65px;
  margin-right: 138px;
  /* margin-top: 65px; */
  margin-bottom: 223px;
  margin-left: 138px;
  
  }


  .contact {
    /* font-weight: 700;
    font-size: 24px;
    color:rgb(255, 255, 255); */
   
    padding-top: 56px;
    padding-bottom: 28px;
    
    
  
  }


  .figure {
    margin-top: -1050px;
    margin-left: 10px;
  }


  .cylinder {
    margin-left: 1100px;
    margin-top: -550px;
  }


  .about-us__footer {
    padding-bottom: 47px;
    text-align: center;
  }

  .hand {
    margin-top: -200px;

  }

  .bagel {
    margin-top: -300px;
    margin-left: 50px;
  }

  .cube {
    margin-left: 1100px;
    margin-top: -200px;
  }













}



@media (width < 768px) {

  .home {
    margin-bottom: 32px;
  }
 

  .home__container {
    display: flex;
    justify-content: center;

  }

  .home__btn {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

  }


  .home__title {
    font-size: 18px;

    margin-top: 21px;

    margin-bottom: 370px;
  
  }

  .home__desc {
    height: 45px;
    font-size: 12px;
    margin-bottom: 50px;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 345px; */
    /* text-align: start; */
  }

  .home__text {
    height: 96px;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .home__img {
    height: 299px;
    margin-bottom: 29px;
    margin-top: 20px;
  }

  .popup__content {
    
    max-width: 340px;
    padding-left: 10px;
    padding-right: 10px;
  
  }





  .inform__title {
    font-size: 18px;
    margin-top: 31px;
    margin-bottom: 57px;
    text-align: center;
  }

  .card__slaider-mobile {
    display: none; 
  }

  .inform__button-arrow {
 
   display: none;
   
  
  
  }

  .cards {
    display: none;
  } 
   
  .wrapper {
    display: block;
  }

  .swiper {
    width: 100%;
    height: 110%;

  }

  .swiper-slide {
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .swiper__wrapper {
    margin-bottom: 30px;
  }

  .card {
    margin-bottom: 30px;
  }

  .inform__button {
    margin-top: 30px;
    text-align: center;
  }



  .receive__title {
  
    font-size: 18px;
    margin-top: 25px;
    margin-left: 10px;
   
    margin-bottom: 0px;
  
  }


  .certificate {
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 102px; */
    width: 280px;
  }
  



  .research__content {
    display: block;
    margin-left: 10px;

  }


  .research__text {
    width: 100%;

  }

  .research__pictures {
    display: flex;
    justify-content: center;
    width: 100%;
  }


  .information {
    display: grid;
    gap: 39px;
    justify-content: center;
  

  }

  .information:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;

  }





  .information:last-child {
    display: flex;
    flex-direction: column-reverse;
    /* flex-direction: row-reverse; */
  
   }


   .abilites {
    margin-left: 15px;
    margin-right: 15px;
    /* margin-bottom: 55px; */
  }


  .abilites__title {

    font-size: 18px;
    margin-left: 14px;
    margin-top: 70px;
   
    
  
  
  }


   .stage__serial-number {
    margin-left: 13px;
    
  
  }

  .stage__subtitle {
 
 
    margin-left: 68px;
   
   }

   .stage__text {
 
  
    margin-top: 12px;
    padding-bottom: 26px;
    margin-left: 12px;
    margin-right: 27px;
  
  
  
  }


  .stage__picture {
    margin-left: 49px;
    margin-right: 27px;
   
  }


  .about-us {
    /* background-color:rgb(107, 90, 249);
    width: 472px; */
    /* max-height: 486px; */
    /* text-align: center; */
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    /* margin-top: 65px; */
    margin-bottom: 223px;
    margin-left: 15px;
    
    }


  .about-company__title {
   
    
    margin-top: 40px;
   
  
  }


  .about-us__btn {
    margin-bottom: 35px;
    width: 100%;
    /* margin-left: 21px;
    margin-right: 21px; */
  
  }


  .input-text {
  
    font-size: 12px;
 
  
  }
  


  .figure {
    margin-left: 0px;
  }

  .cylinder {
    margin-left: 600px;
    margin-top: -1070px;
  }

  .bagel {
    margin-top: -370px;
    margin-left: 190px;
  }


  .hand {
    margin-top: -200px;
  }

  .cube {
    margin-left: 500px;
    margin-top: -300px;

  }
  

   



  
}

@media (width < 568px) {
  .home__title {
    margin-bottom: 300px;
  }
 
}

@media (width = 360px) {
  .home__title {
    margin-bottom: 220px;
  }
 
} 